
.logo{
	margin-top:100px;
}
.top-div{
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,249,247,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(250,249,247,1)));
    background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,249,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,249,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,249,247,1) 100%);
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(250,249,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#faf9f7', GradientType=0 );

    color:blue;
    line-height:180px;
    font-size:18px;
    width:100%;

}

.mid-div{
    background: white;
    color:blue;
    line-height:180px;
    font-size:18px;
    width:100%;
    height:180px;
}

.bottom-div{
    background: rgba(249,250,245,1);
    background: -moz-linear-gradient(top, rgba(249,250,245,1) 0%, rgba(149,235,68,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,250,245,1)), color-stop(100%, rgba(149,235,68,1)));
    background: -webkit-linear-gradient(top, rgba(249,250,245,1) 0%, rgba(149,235,68,1) 100%);
    background: -o-linear-gradient(top, rgba(249,250,245,1) 0%, rgba(149,235,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,250,245,1) 0%, rgba(149,235,68,1) 100%);
    background: linear-gradient(to bottom, rgba(249,250,245,1) 0%, rgba(149,235,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9faf5', endColorstr='#95eb44', GradientType=0 );

    color:blue;
    line-height:180px;
    font-size:18px;
    width:100%;


}

.text-height{
    line-height: 80px;

}

.raffle{
    background:#64ddef;
    height:auto;
    margin-top: 20px;
    box-shadow:inset 0 0 1em #64ddef;
    padding-bottom: 15px;
}
.back{
	background-image: url("images/back.png");
    width: 24%;
    margin-left: 0.85%;
    /* margin-right: 2px; */
    float: left;
    display: block;
}

.text-raffle-grad{
    background: -webkit-linear-gradient(orange,#fff,#95eb44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.text-raffle-white{
    color:white;
}
.text-raffle-black{
    color:black;
}
.text-raffle-purple{
    color:purple;

}
.text-raffle-green{
    background: -webkit-linear-gradient(#fff,#95eb44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.purple{
    color:purple;
}

.raff{
    background-image: url("images/back.png");
	width:90%;
	font-size: 15px;
}
.sub{
    background-image: url("images/back.png");
	margin-top:15px;
	font-size: 15px;
}

.top{
    background: rgba(255,175,75,1);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(26%, rgba(250,250,250,1)), color-stop(72%, rgba(247,250,245,1)), color-stop(100%, rgba(10,255,39,1)));
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);


    width:100%;
    height:400px;
}

.last-div{
	background: rgba(255,175,75,1);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(26%, rgba(250,250,250,1)), color-stop(72%, rgba(247,250,245,1)), color-stop(100%, rgba(10,255,39,1)));
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(250,250,250,1) 26%, rgba(247,250,245,1) 72%, rgba(10,255,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#0aff27', GradientType=0 );

}

.raf{
	background:blue;

	}
.conditions{
	background-image: url("images/back.png");
	margin-top:10px;
	font-size: 15px;
	}

input{
	width:100%;
	}

div.table
{
    display:table;
}
form.tr, div.tr
{
    display:table-row;
	width:100%;
}
span.td
{
    display:table-cell;
}
col{
	width:200px;
}
.top-buffer { margin-top:20px; }

.table-custon{
	margin-top:15px;
	background: #64ddef;
}








